<head>
    <meta charset="utf-8">
    <title>Success</title>
</head>
<div class="container">
    <h2>Congrats!!! You did it!</h2>
    You can see all users. Press the button!

    <form action="/api/v1/users" method="GET">
        <button type="submit">Users</button>
    </form>

    <form action="/api/v1/auth/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

</div>