<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mail Confirm</title>
</head>
<body th:object="${token}">
<h2>Mail Confirm</h2>
confirm registration by <a href="http://localhost:1080/#/">MAIL</a> </br>
<p th:text="${'your token = ' + token}"> static </p>
</body>
</html>