<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>
<h2>All users</h2>

<div th:each="user : ${users}">
  <a th:href="@{/api/v1/users/{id}(id=${user.getId()})}"
     th:text="${user.getName() + ', ' + user.getEmail() + ', ' + user.getUsernameNotEmail()}">user</a>
</div>
<br/>
<hr/>
<form action="/api/v1/auth/logout" method="GET">
  <button type="submit">Logout</button>
</form>

</body>
</html>