<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<h3 sec:authorize="hasAuthority('ADMIN')">User information for ADMIN </h3>
<h3 sec:authorize="hasAuthority('USER')">User information </h3>

<p sec:authorize="hasAuthority('ADMIN')" th:text="${'ID: ' + user.getId()}"> VALUE</p>
<p th:text="${'NAME: ' + user.getName()}"> VALUE</p>
<p th:text="${'USERNAME: ' + user.getUsernameNotEmail()}"> VALUE</p>
<p th:text="${'EMAIL: ' + user.getEmail()}"> VALUE</p>
<p sec:authorize="hasAuthority('ADMIN')" th:text="${'FRAUD: ' + user.getFraud()}"> VALUE</p>

<div sec:authorize="hasAuthority('ADMIN')">
    <br>
    <a th:href="@{/api/v1/users/{id}/edit(id=${user.getId()})}">EDIT</a>
    <form th:method="DELETE" th:action="@{/api/v1/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>